 /**/

 /*Main CSS*/

 * {
   margin: 0;
   padding: 0;
   text-decoration: none;
 }

 body {
   font-family: Arial, sans-serif;
   font-size: small;
   color: rgba(0, 0, 0, 0.87)
 }

 ul li {
   display: inline;
 }

 #container {
   width: 420px;
   margin: 0 auto;
   text-align: center;
 }

 a {
   text-decoration: none;
 }

 #top-navbar {
   text-align: right;
 }

 a.hover:hover {
   text-decoration: underline;
   text-decoration-color: rgba(0, 0, 0, 0.87)
 }

 a:visited {
   text-decoration: none;
 }

 #search {
   background: #fff;
   display: flex;
   border: 1px solid #dfe1e5;
   box-shadow: none;
   border-radius: 24px;
   height: 44px;
   z-index: 44px;
   margin: 0 auto;
   width: 482px;
 }

 #search-box {
   font: 16px, Arial, sans-serif;
   color: black;
   border: none;
   margin: 5px 20px;
   padding: 0;
   outline: none;
   display: flex;
   flex: 100%;
   height: 34px;
   width: 450px;
   background: gray;

 }

 img#logo {
   width: 330px;
   height: 121px;
 }